.h1 li {
    list-style: decimal-leading-zero;
    font-size: 2em;
    margin: 0 0 0 2em;
}

a[data-featherlight] {
    float: right;
    padding: 0.2em;
    vertical-align: middle
}

a[data-featherlight] img {
    height: 3em
}

div.featherlight div.featherlight-content {
    background: rgb(28, 28, 28)
}

input.spoiler {
    width: 1.5em !important;
    height: 1.5em !important;
    font-size: 1em !important;
    font-weight: bold !important;
    background-color: #32327c !important;
    color: rgb(216, 216, 216) !important;
    border: #00F !important;
}